@model _04_PasarDatosAlControlador.Models.clsPersona
{
@{
    ViewBag.Title = "Editar";
}


<html>

<body>
    @using (Html.BeginForm())

    {

        <label>
            Nombre
        </label> <input type="text" name="nombre" value="@Model.nombre"><br />

        <label>
            Apellidos
        </label>@Html.TextBox("Apellidos")<br />
        <label>
            Telefono
        </label>@Html.TextBoxFor(persona => persona.telefono)<br />
        <label>
            Direccion
        </label>@Html.TextBoxFor(persona => persona.direccion)<br />

        <label>
            FechaNac
        </label>@Html.TextBoxFor(persona => persona.fechaNacimiento)<br />

        <button type="submit">Enviar</button>
    }
</body>


</html>

