@model _04_PasarDatosAlControlador.Models.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>


    <div>
        @Html.DisplayFor(persona => persona.nombre)
    </div>

    <div>
        @Html.DisplayFor(persona => persona.Apellidos)
    </div>

    <div>
        @Html.DisplayFor(persona => persona.telefono)
    </div>

    <div>
        @Html.DisplayFor(persona => persona.direccion)
    </div> 
    
    <div>
        @Html.DisplayFor(persona => persona.fechaNacimiento)
    </div>


</body>
</html>
