@model _EjercicioRezosYPlegarias_Entidades.Complejas.clsPersonaConNombreDeDepartamento
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h4>clsPersonaConNombreDeDepartamento</h4>
        <hr />
        <dl class="dl-horizontal">

            @using (Html.BeginForm())
            {
                <dd>
                    @Html.HiddenFor(model => model.idPersona)
                </dd>

                <dd>
                    @Html.HiddenFor(model => model.IdDept)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nombreDepartamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreDepartamento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                </dd>

                <input type="submit" value="Enviar"/>

            }

            @ViewData["Actualizar"];

        </dl>
    </div>
    <p> 
             @Html.ActionLink("Back to List", "Index" ,new { id = Model.IdDept })
    </p>
</body>
</html>
